bcrypt==3.2.0
cffi==1.15.0
click==8.0.4
dacite==1.6.0
Flask==2.0.3
Flask-Cors==3.0.10
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
pycparser==2.21
PyMySQL==1.0.2
six==1.16.0
SQLAlchemy==1.4.32
Werkzeug==2.0.3
